<p class="tab-title">单线条演示</p>
<div class="clearfix chart-tab">
  <ul>
    <li ng-class="{'active':showId[0]}" ng-click="showTrend(0)">销量</li>
    <li ng-class="{'active':showId[1]}" ng-click="showTrend(1)">销售额</li>
    <li ng-class="{'active':showId[2]}" ng-click="showTrend(2)">收藏</li>
    <li ng-class="{'active':showId[3]}" ng-click="showTrend(3)">评价</li>
  </ul>
</div>
<ng-echarts option='lineSingleOption'></ng-echarts>

<p class="tab-title">柱状图与折线双演示</p>
<div class="clearfix chart-tab">
  <ul>
    <li ng-class="{'active':showId[0]}" ng-click="showTrend(0)">销量</li>
    <li ng-class="{'active':showId[1]}" ng-click="showTrend(1)">销售额</li>
    <li ng-class="{'active':showId[2]}" ng-click="showTrend(2)">收藏</li>
    <li ng-class="{'active':showId[3]}" ng-click="showTrend(3)">评价</li>
  </ul>
</div>
<ng-echarts option='lineSingleOption'></ng-echarts>